@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}
.drop-down-item {
  display: none;
}
.drop-down:hover .drop-down-item {
  display: block;
  min-width: 300px;
}
header {
  z-index: 1000;
}
nav ul li div,
.drop-down-item{
  color: #fff;
}
.dropdown-menu h5 {
  font-weight: bold;
}
.mega-menu {
  display: none;
  top: 6rem;
  position: fixed;
  left: 0;
}
.feature-dropdown:hover .mega-menu {
  display: block;
  width: 100%;
  height: 80vh;
  z-index: 100;
}
.dropdown-lists li {
  margin-top: 18px;
  font-size: 18px;
}
.dropdown-lists li:hover {
  color: #d9b44a;
  cursor: pointer;
}
.para {
  text-align: right;
}
.checkbtn i {
  font-size: 30px;
  color: #d9b44a;
  font-weight: bold;
  display: none;
}
#check {
  display: none;
}
.portfolio-paragraph {
  margin: 0 auto;
}
.show-item {
  display: none;
}
.sm-icons {
  display: flex;
  gap: 10px;
}
.button {
  width: 100%;
}
.fa-telegram {
  right: 20px;
  top: 10px;
}
.form input {
  width: 100%;
}
h6 {
  color: #021c1e;
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
}
.footer div > p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.newsletter p,
.newsletter input {
  width: 100%;
}
.problem-statement2 div:nth-child(2) img {
  width: 100%;
}

/*Support Page*/

.support-main {
  background-image: url("/dist/images/learn.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
}
.support-content {
  padding-left: 8em;
  padding-top: 5em;
  padding-bottom: 5em;
  padding-right: 8em;
}
.support-center {
  padding-left: 10em;
  padding-right: 10em;
}
.support-center > p {
  font-size: 2.5em;
}
.support-center > div {
  padding-top: 4em;
}
.articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* Buy Now */
.buy-now {
  margin: auto 20em;
}
#checkbox {
  height: 20px;
  width: 20px;
}
#checkbox:checked {
  background-color: #021c1e;
}
/* Features */
.feature-bg {
  background-image: url("/dist/images/feature-bg-test.jpg");
  filter: brightness(50%);
}
.play {
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 6px;
}
.component-features {
  padding-left: 8em;
  padding-right: 8em;
  background-color: #6fb98f;
}
.component-features ul {
  gap: 6em;
}
.component-features ul li a:hover {
  font-weight: bold;
  color: #021c1e;
}
#paragraph {
  max-width: 500px;
}
.sub-features {
  grid-template-columns: repeat(2, 1fr);
  grid-column: span 2;
}
.sub-features-desc {
  max-width: 300px;
}
.feature-title {
  border-bottom: 5px solid #6fb98f;
  font-size: 1em;
  padding-bottom: 5px;
  color: #6fb98f;
}
.features {
  padding-left: 8em;
}
.grid-align {
  padding-left: 8em;
  padding-right: 8em;
}

/* Blog */
.blog-bg {
  background-image: url("/dist/images/blog-bg-3.jpg");
}
.blog-section {
  padding-left: 8em;
  padding-right: 8em;
}
.blog-post {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: margin 0.5s;
}
.blog-post:hover {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}
.blog-title {
  color: #2c7873;
}
.blog-tag {
  text-align: right;
}
.trial button {
  border-radius: 10px;
  color: #2c7873;
}
/* Student */
.student-bg {
  background-image: url("/dist/images/stdt-home.jpg");
}
.support-content-student {
  padding-left: 8em;
  padding-top: 15em;
  padding-bottom: 3em;
  padding-right: 8em;
}

/* Open API */
.api-bg {
  background-image: url(/dist/images/open-api-bg.jpg);
}
.problem-statement {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* About Us */
.timeline-content {
  border-left: 1px solid #ccc;
  padding-left: 20px;
}
.circular {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  margin-top: 5px;
  background-color: #2c7873;
  position: absolute;
  left: 110px;
}
.year {
  color: #2c7873;
}
.timeline-content {
  max-width: 400px;
}
.timelines {
  padding-left: 10em;
  padding-right: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}
ol {
  flex-direction: column;
}
ol hr {
  margin-top: 30px;
  margin-bottom: 20px;
}
.about {
  grid-template-columns: repeat(2, 1fr);
  padding-left: 8em;
  padding-right: 8em;
}
.job {
  background-image: url(/dist/images/work.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  opacity: 80%;
}
.team {
  background-image: url(/dist/images/business.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  opacity: 80%;
}
.job button:hover,
.team button:hover {
  color: #fff;
}
.job button,
.team button {
  width: 60%;
  transition: all 0.5s;
  padding: 10px;
}

/* Partner */
.partner-bg {
  background-image: url(/dist/images/partner.jpg);
}
.partner {
  text-shadow: 2px 3px #021c1e;
  margin-bottom: 6px;
}
.partners-criteria {
  flex-direction: column;
}
.partner-form {
  background-color: #021c1e;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.partner-form div input {
  border: 2px solid #fff;
  width: 100%;
  padding: 10px;
  background: white;
}
.partner-form div label {
  color: #fff;
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  margin-top: 15px;
}
#select {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  color: #021c1e;
}
.select-option {
  grid-column: span 2;
}
.partner-form p {
  grid-column: span 2;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.partner-form > input {
  grid-column: 1/ -1;
  background-color: #fff;
  padding: 15px;
}
.programs{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
}
.programs h3{
  color: #2c7873;
}
.programs p:nth-child(1){
  max-width: 400px;
}

/* Free Trial */
.icon-bg{
  height: 20px;
  height: 20px;
  background-color: #021c1e;
  border-radius: 50%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 5px; */
}
.border-span{
  height: 2px;
  width: 50px;
  border-radius: 5px;
  background-color: #ccc;
}
@media (min-width: 1001px) {
  .portfolio-paragraph {
    width: 550px;
  }
  .footer {
    margin-left: 80px;
    margin-right: 80px;
  }
  .newsletter p,
  .newsletter input {
    width: 350px;
  }
  .tabs {
    padding-left: 30px;
  }
  .form {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1000px) {
  nav ul {
    position: fixed;
    flex-direction: column;
    background-color: #2c7873;
    width: 100%;
    left: 0;
    top: 100px;
    transform: translateX(-100%);
    transition: all 1s;
    color: #fff;
  }
  .checkbtn i {
    display: block;
  }
  .drop-down:hover .drop-down-item {
    display: none;
  }
  .feature-dropdown:hover .mega-menu {
    display: none;
  }
  #check:checked ~ .checkbtn i::before {
    content: "\f00d";
  }
  #check:checked ~ nav ul {
    transform: translateX(0);
  }
  .tabs {
    border-left: 5px solid #dbdbdc;
  }
  .footer {
    margin-left: 30px;
    margin-right: 30px;
  }
  /* Features */
  .grid-align {
    grid-template-columns: repeat(2, 1fr);
  }
  .sub-features {
    grid-column: span 1;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 899px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .item-1 {
    grid-column: span 2;
  }
  .contact {
    grid-column: span 2;
  }
  .problem-statement1,
  .problem-statement3 {
    flex-direction: column-reverse;
  }
  .problem-statement2 {
    flex-direction: column;
  }
  .alignment {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  /*Support*/
  .support-content {
    padding-left: 4em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    padding-right: 4em;
  }
  .support-center > p {
    font-size: 1.8em;
  }
  .support-center > div {
    flex-direction: column;
  }
  .articles {
    grid-template-columns: 1fr;
  }
  /* Buy Now */
  .buy-now {
    margin: auto 10em;
  }
  /* Features  */
  .component-features {
    padding-left: 4em;
    padding-right: 4em;
  }
  .component-features ul {
    gap: 2em;
  }
  .grid-align {
    padding-left: 4em;
    padding-right: 4em;
  }
  .feature-title {
    color: #fff;
    border-color: #fff;
  }
  .main-features {
    background-color: #6fb98f;
    max-height: 520px;
  }
  /* Blog */
  .blog-section {
    padding-left: 4em;
    padding-right: 4em;
  }
  .blog-posts {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-align {
    grid-template-columns: 1fr;
  }
  .blog-align form {
    grid-column: span 1;
  }
  .filter-btns {
    justify-content: right;
  }
  /* Students */
  .support-content-student {
    padding-left: 4em;
    padding-top: 8em;
    padding-bottom: 2.5em;
    padding-right: 4em;
  }
  /* Open API */
  .problem-statement {
    grid-template-columns: 1fr;
  }

  /* About Us */
  .timelines {
    padding-left: 3em;
    padding-right: 3em;
  }
  .partner-form{
    grid-template-columns: 1fr;
  }
}
@media (min-width: 900px) {
  .description {
    padding-top: 70px;
  }
  .problem-statements {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
  }
  .description2 {
    padding-top: 200px;
  }
  .button {
    width: 50%;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 701px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Support*/
  .support-center {
    padding-left: 5em;
    padding-right: 5em;
  }
}
@media (max-width: 800px) {
  /* about */
  .about {
    grid-template-columns: 1fr;
    padding-left: 4em;
    padding-right: 4em;
  }
}
@media (max-width: 700px) {
  .btns {
    display: none;
  }
  .form {
    grid-template-columns: 1fr;
  }
  /*Support page*/
  .support-center {
    padding-left: 2em;
    padding-right: 2em;
  }
  /* Buy Now */
  .buy-now {
    margin: auto 5em;
  }
  .names {
    flex-direction: column;
  }
  /* Features */
  .grid-align {
    grid-template-columns: 1fr;
  }
  .features {
    padding-left: 8em;
  }
  .component-features ul {
    flex-direction: column;
  }
  /* Blog */
  .blog-align form {
    flex-direction: column;
  }
  .blog-posts {
    grid-template-columns: 1fr;
  }
  .trial {
    flex-direction: column;
  }
  /* Partner */
  .programs{
    grid-template-columns: 1fr;
  }
}
